.playground-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-section {
  display: flex;
  flex: 1;
}

.right-section {
  width: 50%;
}

.bottom-section {
  flex: 0.5;
}
